<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>admin</title>
</head>
<body>

    <p>HELLO</p>
    <input id="mess" type="text" required="required" />
    <button type="submit" id="but" >отправить</button>
    <div id="str"></div>


    <h1>Orders</h1>
    <!-- <div> -->
<!-- <ul id="order"> -->
  <!-- <% order.forEach(function(order){ %>
    <li><%= order.name %> <%= order.products %> <%= order.id %></li>
  <% }) %>
</div> -->
  <!-- <p><%= sum %></p> -->

  <!-- let k = users.reduce((acc, el)=> { 
    //  acc[el.id] =`${acc[el.id]+ el.name}`;
    acc[el.id] += el.name ;
      return acc
  }, {})  -->
  


</body>
<script src="/admin.js" >  </script>
</html>